.button-grow {
   
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button-grow:hover {
    transform: scale(1.1);
  }
 
  /* social link hover link rotaion effect   */
.rotate_btn:hover {
    transform: rotate(360deg);
    transition: 0.6s ease;
}



.footer_right_title,
.footer_copyright{
  background: linear-gradient(0deg, #FFB702, #0A4E95);
  -webkit-background-clip:text;
  font-weight:700;
  -webkit-text-fill-color: transparent;
}
