.container-about{
    box-shadow: 5px 14px 40px -13px rgba(125,162,243,1);
}
/* media query for hiding the banner_image */
@media only screen and (max-width: 480px) {
    .about_banner_img{
        visibility: hidden;
    } 
}


.about_head{
    letter-spacing:.1em;
    font-weight: 700;
    color: #130f40;
        text-shadow: 1px 1px 1px #130f40,
        1px 2px 1px #130f40,
        1px 3px 1px #130f40,
        1px 4px 1px #f9ca24,
            1px 5px 1px #f9ca24,
        1px 6px 1px #f9ca24,
            1px 7px 1px #17538D,
        1px 8px 1px #17538D,
        1px 9px 1px #17538D,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
