@media (max-width: 482px) {
    .events{
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: auto;
    }
    .teams{
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: auto;
    }
    .amiphoria-text {
      font-size: 4.6rem;
      margin-bottom: 5rem;
      font-family: 'Vibur', cursive;
      text-align: center;
      line-height: 1;
      color: #c6e2ff;
      animation: neon  .08s ease-in-out infinite alternate;
      -webkit-animation: neon  .08s ease-in-out infinite alternate;
}
    
  }


 .home{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat repeat;
  background-size: 100% 100%;
  background-image: url("../assets/bg.jpg");
  background-color: #141414;
 }
  
 .home::before{
  content: '';
  position: absolute;
  width:100%;
  height:100%;
  object-fit: cover;
  z-index: 1;
  background: rgba(15, 21, 30, .7);
 }
 
  .posters-div{
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); 
    filter: drop-shadow(0 0 2em #61dafbaa);/* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 25%;
    padding: 20px;
    text-align: center;
  }
  .text-div{
    
    color: white;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }


.amiphoria-text {
  text-transform: uppercase;
  font-weight: 700;
  color: #E6AC10;
  text-shadow: 1px 1px 1px #E6AC10,
      1px 2px 1px #E6AC10,
      1px 3px 1px #E6AC10,
      1px 4px 1px #E6AC10,
      1px 5px 1px #115190,
      1px 6px 1px #115190,
      1px 7px 1px #115190,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}



.button::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.button::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.button:focus {
  outline: none;
}

.amiphoria-text {
  font-size: 5.6rem;
  margin-bottom: 5rem;
  font-family: 'Vibur', cursive;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon .08s ease-in-out infinite alternate;
}
.btn-explore{
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/* button -grow effect */
.button-grow {
  color: #65b5f6;
  background-color: transparent;
  border: 1px solid #65b5f6;
  /* border-radius: 4px; */
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-grow:hover {
  transform: scale(1.1);
}

/* social link color */
.ig{
  color :#d62976;
}



